<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>크린앤Q</title>
  <link rel="stylesheet" href="/css/home/floor/tile/dongseo.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@80,400,0,0"/>

  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

</head>

<body>
  <div class="nav-container">
    <nav>
      <ul class="mobile-nav">
        <li>
          <div class="menu-icon-container">
            <div class="menu-icon">
              <span class="line-1"></span>
              <span class="line-2"></span>
            </div>
          </div>
        </li>

        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <!-- <li>
          <a href="#" class="link-search"><i class="fa fa-search"></i></a>
        </li> -->
        <li>
          <a id="user2" class="link-user2"><i class="fa-solid fa-user-circle"></i></a>
        </li>
      </ul>

      <ul class="desktop-nav">
        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <li>
          <a href="/hanstone">칸스톤</a>
        </li>
        <li>
          <a href="/homesash">홈샤시</a>
        </li>
        <li>
          <a href="/flooring">바닥재</a>
        </li>
        <li>
          <a href="#">화장실</a>
        </li>
        <li>
          <a class="link-search"><i class="fa fa-search"></i></a>
        </li>
        
        <a id="user" class="link-user"><i class="fa-solid fa-user-circle"></i></a>
        
      </ul>
    </nav>

    <div class="search-container hide">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <div class="link-close">
      </div>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mobile-search-container">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <span class="cancel-btn">Cancel</span>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="overlay"></div>

  <div>
    <ul id="options" style="display:none;">
      {% if user %}
        <br>
        <span id="memb">{{user.id}}</span><span id="hello">님 안녕하세요</span>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
        <li class="option">
          <a href="/logout">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;" data-flip="horizontal"></span>
            <span>로그아웃</span>
          </a>
        </li>
      {% else %}
        <li class="option">
          <a href="/login">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;"></span>
            <span>로그인</span>
          </a>
        </li>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="nav-container2">
    <nav>
      <ul class="sash-nav">
        <li>
          <a href="/maru">마루</a>
        </li>
        <li>
          <a href="/leum">륨시트</a>
        </li>
        <li>
          <a href="/tile">타일</a>
        </li>
        <li>
          <a href="/function">기능성</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nav-container3">
    <nav>
      <ul class="floor-nav">
        <li>
          <a href="/dongseo">포세린 600&times;600</a>
        </li>
        <li>
          <a href="/dongseochar">특징</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="sec sec7" id="slide-9"></section>

  <section class="sec sec9" id="slide-9">
    <p class="txt13-2"><span class="txt14-span13">이화동서타일</span> 포세린 600&times;600</p>
  </section>

  <section class="sec sec10" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic1"></div>
        <div class="card-txt">
          <p class="txt14">국내최대 타일생산업체의 포세린 타일. 
            스톤의 자연스러운 흐름 무늬와 디테일한 질감을 느낄 수 있다. 
            개방감과 공간감에 최적화된 대형 레이아웃 600&times;600</p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">Pattern 107개</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic1"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">TRES 트레스 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic2"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">MITTE WHITE (600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic3"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">LUCAS WHITE (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic4"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">LUCAS GREY (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic5"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">LUCAS CHARCOAL (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic6"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">MELLOW LIGHTGREY (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic7"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">Sandy (L.G)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic8"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">FRENCH STONE (IVORY)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic9"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">FRENCH STONE (L.G)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic10"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">FRENCH STONE (GREY)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic11"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">FRENCH STONE (GRIGIO)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic12"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">TERRAZZO WHITE (600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic13"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">테라조 컬러 139</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic14"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">JELLY</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic15"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">Terrazzo GREY (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic16"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CON GREY</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic17"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CON IVORY</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic18"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">Y.BIANCO (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic19"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">Z.BEIGE (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic20"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">Z.GREY (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic21"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">SLATE 화이트 117</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic22"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">Stoney Gray</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic23"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">Imperial (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic24"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">7126 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic25"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">슈퍼화이트 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic26"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">폴리싱 9601 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic27"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">블랙 폴리싱 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic28"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HARIBO (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic29"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">COOKIE WHITE (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic30"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">COOKIE BLACK (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic31"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">COOKIE WHITE (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic32"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">COONC GREY (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic33"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">RAINBOW (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic34"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">JELLY APRICOT (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic35"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">MAKALONG WHITE (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic36"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">MAKALONG L.G (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic37"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PEANUT WHITE (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic38"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PEANUT GREY (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic39"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">BUBBLE GREEN (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic40"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">BUBBLE BLUE (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic41"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">BUBBLE RED (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic42"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">BUBBLE BLACK (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic43"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">TITAN WHTIE (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic44"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">M6232 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic45"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">M6236 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic46"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 6021 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic47"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60009 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic48"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60040 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic49"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60052 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic50"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60038 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic51"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60037 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic52"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60082 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic53"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60082P (라빠또)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic54"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60080 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic55"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60080P (라빠또)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic56"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60079 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic57"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID 60079P (라빠또)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic58"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID2801(무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic59"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID2802(무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic60"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">SK-CO (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic61"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">SK-BE (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic62"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">6601 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic63"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">6603 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic64"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">찰톤 그레이 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic65"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">엘바펄 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic66"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">VASTO GREY (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic67"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">VASTO CORAL (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic68"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HERMES (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic69"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HERMES M (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic70"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">G. CAPRI (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic71"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">G. CAPRI (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic72"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PM 6039A (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic73"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PM 6035 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic74"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PM 6039B (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic75"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PM 6036 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic76"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">LANDBURG BEIGE (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic77"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">LANDBURG MARFIL (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic78"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">LANDBURG LIGHTGREY (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic79"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">LANDBURG DARKGREY (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic80"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">TRAVERTINE MI-BI (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic81"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">TRAVERTINE MI-BE (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic82"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NATIVE NORTH (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic83"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NATIVE GREY (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic84"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NATIVE BLACK (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic85"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">WESLEY MARFIL (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic86"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">WESLEY MOCHA (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic87"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">WESLEY BLACK (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic88"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ALS CM (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic89"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ALS IV(무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic90"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">BOTTICINO (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic91"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ORLANDO MARFIL (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic92"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">6615 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic93"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">P6911 (유광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic94"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">P6503R (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic95"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6000 (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic96"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6001 (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic97"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6002 (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic98"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6003 (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic99"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6004 (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic100"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6005 (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic101"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6005R (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic102"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6006 (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic103"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2-2">AP6006R (무광풀바디600x600)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic104"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID K8036 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic105"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID K8037 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic106"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID K8039 (무광)</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic107"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">ID K8040 (무광)</span></p>
        </div>
      </div>
    </div>
    <br>
  </section>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EasePack.min.js"></script>
  <script src="/js/home/hanstone.js" defer></script>

</html>