<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>크린앤Q</title>
  <link rel="stylesheet" href="/css/home/floor/tile/rubber.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@80,400,0,0"/>

  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

</head>

<body>
  <div class="nav-container">
    <nav>
      <ul class="mobile-nav">
        <li>
          <div class="menu-icon-container">
            <div class="menu-icon">
              <span class="line-1"></span>
              <span class="line-2"></span>
            </div>
          </div>
        </li>

        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <!-- <li>
          <a href="#" class="link-search"><i class="fa fa-search"></i></a>
        </li> -->
        <li>
          <a id="user2" class="link-user2"><i class="fa-solid fa-user-circle"></i></a>
        </li>
      </ul>

      <ul class="desktop-nav">
        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <li>
          <a href="/hanstone">칸스톤</a>
        </li>
        <li>
          <a href="/homesash">홈샤시</a>
        </li>
        <li>
          <a href="/flooring">바닥재</a>
        </li>
        <li>
          <a href="#">화장실</a>
        </li>
        <li>
          <a class="link-search"><i class="fa fa-search"></i></a>
        </li>
        
        <a id="user" class="link-user"><i class="fa-solid fa-user-circle"></i></a>
        
      </ul>
    </nav>

    <div class="search-container hide">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <div class="link-close">
      </div>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mobile-search-container">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <span class="cancel-btn">Cancel</span>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="overlay"></div>

  <div>
    <ul id="options" style="display:none;">
      {% if user %}
        <br>
        <span id="memb">{{user.id}}</span><span id="hello">님 안녕하세요</span>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
        <li class="option">
          <a href="/logout">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;" data-flip="horizontal"></span>
            <span>로그아웃</span>
          </a>
        </li>
      {% else %}
        <li class="option">
          <a href="/login">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;"></span>
            <span>로그인</span>
          </a>
        </li>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="nav-container2">
    <nav>
      <ul class="sash-nav">
        <li>
          <a href="/maru">마루</a>
        </li>
        <li>
          <a href="/leum">륨시트</a>
        </li>
        <li>
          <a href="/tile">타일</a>
        </li>
        <li>
          <a href="/function">기능성</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nav-container3">
    <nav>
      <ul class="floor-nav">
        <li>
          <a href="/rubber">러버타일</a>
        </li>
        <li>
          <a href="/rubberchar">특징</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="sec sec7" id="slide-9"></section>

  <section class="sec sec9" id="slide-9">
    <p class="txt13-2"><span class="txt14-span13">현대L&C</span> 러버타일</p>
  </section>

  <section class="sec sec10" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic1"></div>
        <div class="card-txt">
          <p class="txt14">천연 및 합성고무 소재로 미끄럼방지 및 내구성이 우수한 바닥재. 
            내마모성, 내향균성도 뛰어나 스포츠 시설 바닥재로 유용하며 다양한 컬러군을 보유하고 있다.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">코인</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic1"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 24</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic2"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 14</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic3"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 23</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic4"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 11</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic5"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 12</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic6"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 21</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic7"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 94</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic8"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 93</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic9"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 56</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic10"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 55</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic11"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 47</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic12"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 91</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic13"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 43</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic14"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 42</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic15"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 41</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic16"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 51</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic17"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 52</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic18"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CT 57</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">울트라 6.0</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic19"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">UT 42</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">플레인</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic20"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PTE 93</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic21"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PTE 52</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic22"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT 24</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic23"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT 14</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">샌드</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic24"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">SD 24</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic25"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">SD 94</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic26"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">SD 93</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic27"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">SD 55</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">메가 엠보</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic28"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMH 44</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic29"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMH 31</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic30"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMH 88</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic31"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMH 93</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">메가 코인</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic32"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMR 44</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic33"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMR 46</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic34"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMR 31</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic35"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMR 88</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic36"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMR 93</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">메가 코르크</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic37"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMC 40</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic38"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMC 10</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic39"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMC 33</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic40"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMC 80</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">메가 슬레이트</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic41"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMI 139</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic42"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMI 441</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic43"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMI 132</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic44"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">NMI 634</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">내추럴</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic45"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CML 42</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic46"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CML 45</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic47"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CML 33</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic48"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CML 93</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic49"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">CML 20</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">세이프티 네오</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic50"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STN 4238</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic51"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STN 4147</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic52"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STN 3713</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic53"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STN 9419</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">세이프티 메가</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic54"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 4043</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic55"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 8098</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic56"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 5043</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic57"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 1021</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic58"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 9091</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic59"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 4143</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic60"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 9221</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic61"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 3021</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic62"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">STM 8228</span></p>
        </div>
      </div>
    </div><br>
  </section>
  
</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EasePack.min.js"></script>
  <script src="/js/home/hanstone.js" defer></script>

</html>