<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>크린앤Q</title>
  <link rel="stylesheet" href="/css/home/sash/aluminium.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@80,400,0,0"/>

  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

</head>

<body>
  <div class="nav-container">
    <nav>
      <ul class="mobile-nav">
        <li>
          <div class="menu-icon-container">
            <div class="menu-icon">
              <span class="line-1"></span>
              <span class="line-2"></span>
            </div>
          </div>
        </li>

        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <!-- <li>
          <a href="#" class="link-search"><i class="fa fa-search"></i></a>
        </li> -->
        <li>
          <a id="user2" class="link-user2"><i class="fa-solid fa-user-circle"></i></a>
        </li>
      </ul>

      <ul class="desktop-nav">
        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <li>
          <a href="/hanstone">칸스톤</a>
        </li>
        <li>
          <a href="/homesash">홈샤시</a>
        </li>
        <li>
          <a href="/flooring">바닥재</a>
        </li>
        <li>
          <a href="#">화장실</a>
        </li>
        <li>
          <a class="link-search"><i class="fa fa-search"></i></a>
        </li>
        
        <a id="user" class="link-user"><i class="fa-solid fa-user-circle"></i></a>
        
      </ul>
    </nav>

    <div class="search-container hide">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <div class="link-close">
      </div>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mobile-search-container">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <span class="cancel-btn">Cancel</span>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="overlay"></div>

  <div>
    <ul id="options" style="display:none;">
      {% if user %}
        <br>
        <span id="memb">{{user.id}}</span><span id="hello">님 안녕하세요</span>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
        <li class="option">
          <a href="/logout">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;" data-flip="horizontal"></span>
            <span>로그아웃</span>
          </a>
        </li>
      {% else %}
        <li class="option">
          <a href="/login">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;"></span>
            <span>로그인</span>
          </a>
        </li>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="nav-container2">
    <nav>
      <ul class="sash-nav">
        <li>
          <a href="/normal">일반</a>
        </li>
        <li>
          <a href="/balcony">발코니</a>
        </li>
        <li>
          <a href="/system">시스템</a>
        </li>
        <li>
          <a href="/rehau">레하우</a>
        </li>
        <li>
          <a href="/aluminium">알루미늄</a>
        </li>
        <li>
          <a href="/specialuse">특수용도</a>
        </li>
        <li>
          <a href="/sheetcolor">시트컬러</a>
        </li>
        <li>
          <a href="/handle">핸들</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="sec sec7" id="slide-9">
    <p class="txt13"><span class="txt13-span1">크린앤Q</span> 알루미늄창 <span class="txt13-span2">시공사례</span></p>
  </section>

  <section class="sec sec8" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic1"></div>
        <div class="card-txt">
          <p class="txt14">서울 중랑구 면목동 봉우재로 &nbsp;&nbsp;<span class="txt14-span">알루미늄창 커튼월</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic2"></div>
        <div class="card-txt">
          <p class="txt14">서울 동대문구 상가 &nbsp;&nbsp;<span class="txt14-span">내부 알루미늄창</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec9" id="slide-9">
    <p class="txt13-2">알루미늄창 <span class="txt13-span3">Products</span></p>
  </section>

  <section class="sec sec10" id="slide-10">
    <div class="cards">
      <div class="card card1">
        <div class="card-pic9"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">F-279 AL+PVC 창</span></p>
          <p class="txt14">프레임 사이즈 279mm / 최대적용유리 24mm </p>
          <p class="txt14">용접식(PVC)+조립식(AL) / 에너지소비효율 2등급</p>
          <p class="txt14">외창 : Lift Sliding / 내창 : 자동잠금장치 자동핸들</p>
          <p class="txt14">시스템 TYPE 하부 FIX 이중창 / M/F 결합부의 누수 방지</p>
        </div>
      </div>
      <div class="card card2">
        <div class="card-pic1"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">커튼월&nbsp; |&nbsp; AL Captured System</span></p>
          <p class="txt14">프레임 사이즈 120~200mm / 적용유리 24~34T</p>
          <p class="txt14">부재가 외부로 노출 / Glazing Bead로 유리 고정</p>
          <p class="txt14">오피스, 주상복합, 상가건물, 공공기관</p>
          <p class="txt14">폴리우레탄, 폴리아미드 단열 / 열관류율 1.339~2.031</p>
          <p class="txt14">블랙, 화이트, 실버, 그레이 색상</p>
          
        </div>
      </div>
      <div class="card card3">
        <div class="card-pic2"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span4">커튼월&nbsp; |&nbsp; AL Hidden System</span></p>
          <p class="txt14">부재가 외부로 노출 X / 구조용 Sealant로 유리 고정</p>
          <p class="txt14">정면 조형미 강조 / 열관류율 1.301~1.895</p>
          <p class="txt14">* 타 특성 Al Captured System과 동일</p>
        </div>
      </div>
      <div class="card card3">
        <div class="card-pic3"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HALSYS-DR 75</span></p>
          <p class="txt14">도어</p>
          <p class="txt14">1V&nbsp; |&nbsp;&nbsp; Max (1200 X 2700) Min (500 X 700)</p>
          <p class="txt14">2V&nbsp; |&nbsp;&nbsp; Max (2400 X 2700) Min (1000 X 1500)</p>
          <p class="txt14">열관류율 1.264 (24T) / 0.875 (43T)</p>
        </div>
      </div>
      <div class="card card3">
        <div class="card-pic4"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HALSYS-DR 80</span></p>
          <p class="txt14">도어</p>
          <p class="txt14">1V&nbsp; |&nbsp;&nbsp; Max (1200 X 2700) Min (500 X 700)</p>
          <p class="txt14">2V&nbsp; |&nbsp;&nbsp; Max (2400 X 2700) Min (1000 X 1500)</p>
          <p class="txt14">열관류율 0.882 (43T)</p>
        </div>
      </div>
      <div class="card card3">
        <div class="card-pic5"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HALSYS-TT 70</span></p>
          <p class="txt14">TILT & TURN</p>
          <p class="txt14">1V&nbsp; |&nbsp;&nbsp; Max (1200 X 1200) Min (440 X 550)</p>
          <p class="txt14">열관류율 0.882 (43T)</p>
        </div>
      </div>
      <div class="card card3">
        <div class="card-pic6"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HALSYS-TT 90</span></p>
          <p class="txt14">TILT & TURN</p>
          <p class="txt14">1V&nbsp; |&nbsp;&nbsp; Max (1200 X 1200) Min (440 X 550)</p>
          <p class="txt14">열관류율 0.852 (43T)</p>
        </div>
      </div>
      <div class="card card3">
        <div class="card-pic7"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HALSYS-LS 158</span></p>
          <p class="txt14">LIFT SLIDING</p>
          <p class="txt14">1V1F/2V&nbsp; |&nbsp;&nbsp; Max (5900 X 2800) Min (1200 X 870)</p>
          <p class="txt14">2V1F&nbsp; |&nbsp;&nbsp; Max (5900 X 2800) Min (1800 X 870)</p>
          <p class="txt14">열관류율 1.039 (43T)</p>
        </div>
      </div>
      <div class="card card3">
        <div class="card-pic8"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">HALSYS-LS 210</span></p>
          <p class="txt14">LIFT SLIDING</p>
          <p class="txt14">1V1F/2V&nbsp; |&nbsp;&nbsp; Max (5900 X 2800) Min (1200 X 870)</p>
          <p class="txt14">2V1F&nbsp; |&nbsp;&nbsp; Max (5900 X 2800) Min (1800 X 870)</p>
          <p class="txt14">열관류율 0.923 (43T)</p>
        </div>
      </div>
    </div>
  </section>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EasePack.min.js"></script>
  <script src="/js/home/hanstone.js" defer></script>

</html>