<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>크린앤Q</title>
  <link rel="stylesheet" href="/css/home/floor/flooring.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@80,400,0,0"/>

  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

</head>

<body>
  <div class="nav-container">
    <nav>
      <ul class="mobile-nav">
        <li>
          <div class="menu-icon-container">
            <div class="menu-icon">
              <span class="line-1"></span>
              <span class="line-2"></span>
            </div>
          </div>
        </li>

        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <!-- <li>
          <a href="#" class="link-search"><i class="fa fa-search"></i></a>
        </li> -->
        <li>
          <a id="user2" class="link-user2"><i class="fa-solid fa-user-circle"></i></a>
        </li>
      </ul>

      <ul class="desktop-nav">
        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <li>
          <a href="/hanstone">칸스톤</a>
        </li>
        <li>
          <a href="/homesash">홈샤시</a>
        </li>
        <li>
          <a href="/flooring">바닥재</a>
        </li>
        <li>
          <a href="#">화장실</a>
        </li>
        <li>
          <a class="link-search"><i class="fa fa-search"></i></a>
        </li>
        
        <a id="user" class="link-user"><i class="fa-solid fa-user-circle"></i></a>
        
      </ul>
    </nav>

    <div class="search-container hide">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <div class="link-close">
      </div>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mobile-search-container">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <span class="cancel-btn">Cancel</span>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="overlay"></div>

  <div>
    <ul id="options" style="display:none;">
      {% if user %}
        <br>
        <span id="memb">{{user.id}}</span><span id="hello">님 안녕하세요</span>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
        <li class="option">
          <a href="/logout">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;" data-flip="horizontal"></span>
            <span>로그아웃</span>
          </a>
        </li>
      {% else %}
        <li class="option">
          <a href="/login">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;"></span>
            <span>로그인</span>
          </a>
        </li>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="nav-container2">
    <nav>
      <ul class="sash-nav">
        <li>
          <a href="/maru">마루</a>
        </li>
        <li>
          <a href="/leum">륨시트</a>
        </li>
        <li>
          <a href="/tile">타일</a>
        </li>
        <li>
          <a href="/function">기능성</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="sec sec7" id="slide-9">
    <!-- <p class="txt13">
      <span class="txt13-span1">크린앤Q</span>는 <span class="txt13-span2">현대L&C 바닥재</span>와 <span class="txt13-span2">이화동서타일</span>을 취급합니다.
    </p> -->
  </section>

  <!-- <section class="sec sec8" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic1"></div>
        <div class="card-txt">

        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="sec sec9" id="slide-9">
    <p class="txt13-2">바닥재 <span class="txt13-span3">Menu</span></p>
  </section> -->

  <section class="sec sec10" id="slide-10">
    <div class="cards">
      <div class="card card1">
        <a href="/maru">
          <div class="card-pic1"></div>
          <div class="card-txt">
            <p class="txt14">
              <span class="txt14-span2">
                현대L&C <span class="txt14-span11">마루 </span>바닥재 &nbsp;&nbsp;
                <span class="txt14-span50">
                  <iconify-icon icon="tabler:hand-click" class="txt14-icon"></iconify-icon>클릭
                </span>
              </span>
            </p>
            <p class="txt14">원목마루의 천연 소재 및 자연스런 컬러와 패턴을 살리고 
              경제성과 기능성을 최대화한 최고급 마루 바닥재</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/leum">
          <div class="card-pic2"></div>
          <div class="card-txt">
            <p class="txt14">
              <span class="txt14-span4">
                현대L&C <span class="txt14-span11">륨시트 </span>바닥재 &nbsp;&nbsp;
                <span class="txt14-span50">
                  <iconify-icon icon="tabler:hand-click" class="txt14-icon"></iconify-icon>클릭
                </span>
              </span>
            </p>
            <p class="txt14">안심아토피인증, 소음 저감 등 <span class="txt14-span12">실내 주거용</span> 기능이 탁월한 바닥재. 
              PVC 재질로 내구성이 강하며 밀착된 바닥면으로 난방 효과가 매우 우수하다.</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="/tile">
          <div class="card-pic3"></div>
          <div class="card-txt">
            <p class="txt14">
              <span class="txt14-span5">
                현대L&C <span class="txt14-span11">타일 </span>바닥재 &nbsp;&nbsp;
                <span class="txt14-span50">
                  <iconify-icon icon="tabler:hand-click" class="txt14-icon"></iconify-icon>클릭
                </span>
              </span>
            </p>
            <p class="txt14">
              세련된 디자인과 품격을 갖춘 최고급 <span class="txt14-span12">상업용</span> 바닥재.
              다양한 컬러와 기능을 갖춰 백화점, 사무실, 병원, 공공장소 등 어떤 상업용 공간에도 적합하다.
            </p>
          </div>
        </a>
      </div>
      <div class="card card1">
        <a href="/dongseo">
          <div class="card-pic4"></div>
          <div class="card-txt">
            <p class="txt14">
              <span class="txt14-span6">
                이화동서타일 <span class="txt14-span11">포세린 600&times;600 </span> &nbsp;&nbsp;
                <span class="txt14-span50">
                  <iconify-icon icon="tabler:hand-click" class="txt14-icon"></iconify-icon>클릭
                </span>
              </span>
            </p>
            <p class="txt14">국내최대 타일생산업체의 포세린 타일. 스톤의 자연스러운 흐름 무늬와 디테일한 질감을 느낄 수 있다.
              개방감과 공간감에 최적화된 대형 레이아웃 600&times;600             
            </p>
          </div>
        </a>
      </div>
      <div class="card card1">
        <a href="/function">
          <div class="card-pic5"></div>
          <div class="card-txt">
            <p class="txt14">
              <span class="txt14-span7">
                현대L&C <span class="txt14-span11">기능성 </span>바닥재 &nbsp;&nbsp;
                <span class="txt14-span50">
                  <iconify-icon icon="tabler:hand-click" class="txt14-icon"></iconify-icon>클릭
                </span>
              </span>
            </p>
            <p class="txt14">전자기기가 많은 사무실, 데이터 센터, 연구소, 강의실 등 특수 인테리어 공간에 맞춘 바닥재.</p>
          </div>
        </a>
      </div>
      <br><br>
    </div>
  </section>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EasePack.min.js"></script>
  <script src="/js/home/hanstone.js" defer></script>

</html>