<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>크린앤Q</title>
  <link rel="stylesheet" href="/css/home/homesash.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@80,400,0,0"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

</head>

<body>
  <div class="nav-container">
    <nav>
      <ul class="mobile-nav">
        <li>
          <div class="menu-icon-container">
            <div class="menu-icon">
              <span class="line-1"></span>
              <span class="line-2"></span>
            </div>
          </div>
        </li>

        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <!-- <li>
          <a href="#" class="link-search"><i class="fa fa-search"></i></a>
        </li> -->
        <li>
          <a id="user2" class="link-user2"><i class="fa-solid fa-user-circle"></i></a>
        </li>
      </ul>

      <ul class="desktop-nav">
        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <li>
          <a href="/hanstone">칸스톤</a>
        </li>
        <li>
          <a href="/homesash">홈샤시</a>
        </li>
        <li>
          <a href="/flooring">바닥재</a>
        </li>
        <li>
          <a href="#">화장실</a>
        </li>
        <li>
          <a class="link-search"><i class="fa fa-search"></i></a>
        </li>
        
        <a id="user" class="link-user"><i class="fa-solid fa-user-circle"></i></a>
        
      </ul>
    </nav>

    <div class="search-container hide">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <div class="link-close">
      </div>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mobile-search-container">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <span class="cancel-btn">Cancel</span>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="overlay"></div>

  <div>
    <ul id="options" style="display:none;">
      {% if user %}
        <br>
        <span id="memb">{{user.id}}</span><span id="hello">님 안녕하세요</span>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
        <li class="option">
          <a href="/logout">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;" data-flip="horizontal"></span>
            <span>로그아웃</span>
          </a>
        </li>
      {% else %}
        <li class="option">
          <a href="/login">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;"></span>
            <span>로그인</span>
          </a>
        </li>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
  
  <div class="nav-container2">
    <nav>
      <ul class="sash-nav">
        <li>
          <a href="/normal">일반</a>
        </li>
        <li>
          <a href="/balcony">발코니</a>
        </li>
        <li>
          <a href="/system">시스템</a>
        </li>
        <li>
          <a href="/rehau">레하우</a>
        </li>
        <li>
          <a href="/aluminium">알루미늄</a>
        </li>
        <li>
          <a href="/specialuse">특수용도</a>
        </li>
        <li>
          <a href="/sheetcolor">시트컬러</a>
        </li>
        <li>
          <a href="/handle">핸들</a>
        </li>
      </ul>
    </nav>
  </div>

<div id="smooth-wrapper">
  <div class="stage" id="smooth-content">

      <section class="sec sec1">
        <div class="sec1-1"></div>
        <div class="sec1-2"></div>
        
        <div class="content1">
          <p class="txt2">
            견고한 프레임.
            <br> 냉난방비 절약.
            <br> <span class="txt2-span">에너지효율 1등급</span> 다수.
          </p>
        </div>
        <img class="img img--2" src="/pic/homesash/sec1/home3.png" />
      </section>

      <section class="sec sec3">
        <div class="content3">
          <p class="txt3">단열 MAX</p>
        </div>
        <div class="content4"></div>
        <div class="content5">
          <p class="txt4-2">|&nbsp;&nbsp;PVC 프레임 <span class="txt4-span">&nbsp;&nbsp;열 전도율 콘크리트의 1/10</span></p>
          <p class="txt4-3">|&nbsp;&nbsp;Multi Chamber <span class="txt4-span">&nbsp;&nbsp;공기층 단열 최적화</span></p>
          <p class="txt4-4">|&nbsp;&nbsp;로이 유리</p>
        </div>
        <div class="content6">
          <p class="txt4-5">
            <span class="txt4-span2">*로이(Low-e) 유리</span>란? <br>
            <span class="txt4-span3">
              표면에 은(silver)을 코팅한 유리. <br>
              적외선, 자외선 차단으로 냉난방 <br>
              효율을 극대화한다.
            </span>
          </p>
          <img class="img img--3" src="/pic/homesash/sec3/lowe.png" />
        </div>
      </section>

      <section class="sec sec3-2">
        <div class="content3-2">
          <p class="txt3-2">소음 / 바람 / 빗물 까지.</p>
        </div>
        <div class="content4-2"></div>
        <div class="content5-2" >
          <p class="txt5-2">|&nbsp;&nbsp;4단 소음차단 다중구조</p>
          <p class="txt5-3">|&nbsp;&nbsp;내풍압 1등급 다수 (KS F 2292)</p>
          <p class="txt5-4">|&nbsp;&nbsp;내부 기울기 & 계단형 특수 구조</p>
        </div>
      </section>

      <section class="sec sec4">
        <div class="content3-3">
          <p class="txt3-3">Detail</p>
        </div>
        <div class="content7"></div>
        <div class="content8">
          <p class="txt8-1">1 &#41; PVC 프레임 </p>
          <p class="txt8-2">2 &#41; Safety Lock <span class="txt8-span">&nbsp;&nbsp;자동잠금장치</span></p>
          <p class="txt8-3">3 &#41; Handle <span class="txt8-span">&nbsp;&nbsp;자동잠금핸들</span></p>
          <p class="txt8-4">4 &#41; Stopper <span class="txt8-span">&nbsp;&nbsp;특수충격방지장치</span></p>
          <p class="txt8-5">5 &#41; 100% Pb free <span class="txt8-span">&nbsp;&nbsp;무납 소재</span></p>
          <p class="txt8-6">6 &#41; Roller <span class="txt8-span">&nbsp;&nbsp;Stainless Steel 소재</span></p>
          <p class="txt8-7">7 &#41; Steel Frame <span class="txt8-span">&nbsp;&nbsp;아연도금강판 보강심</span></p>
          <p class="txt8-8">8 &#41; Low-e Glass <span class="txt8-span">&nbsp;&nbsp;로이 유리</span></p>
          <p class="txt8-9">9 &#41; 풍지판 <span class="txt8-span">&nbsp;&nbsp;미세바람까지 막는</span></p>
        </div>
        <div class="content9">
          <img class="img img--4" src="/pic/homesash/sec4/ecoblack.png" />
          <p class="txt8-10">전제품 친환경 인증</p>
          <p class="txt8-11">대한아토피협회 추천제품</p>
        </div>
      </section> 

      <section class="sec sec9" id="slide-9">
        <p class="txt13">Menu</p>
        <p class="txt15">원하는 창을 <span class="txt15-span">클릭</span>해보세요</p>
        <img class="img img--5" src="/pic/homesash/sec9/click.jpg" />
      </section>

      <section class="sec sec10" id="slide-10">
        <div class="cards">
          <div class="card">
            <a href="/normal">
              <div class="card-pic1"></div>
              <div class="card-txt">
                <p class="txt14">일반창</span></p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/balcony">
              <div class="card-pic2"></div>
              <div class="card-txt">
                <p class="txt14">발코니창</p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/system">
              <div class="card-pic3"></div>
              <div class="card-txt">
                <p class="txt14">시스템창호</p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/rehau">
              <div class="card-pic4"></div>
              <div class="card-txt">
                <p class="txt14">레하우창호</p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/aluminium">
              <div class="card-pic5"></div>
              <div class="card-txt">
                <p class="txt14">알루미늄</p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/specialuse">
              <div class="card-pic6"></div>
              <div class="card-txt">
                <p class="txt14">특수용도창</p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/sheetcolor">
              <div class="card-pic7"></div>
              <div class="card-txt">
                <p class="txt14">시트컬러</p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="/handle">
              <div class="card-pic8"></div>
              <div class="card-txt">
                <p class="txt14">핸들</p>
              </div>
            </a>
          </div>
        </div>
      </section>

  </div>
</div>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EasePack.min.js"></script>
  <script src="/js/home/homesash.js" defer></script>

</html>