<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>크린앤Q</title>

  <link rel="stylesheet" href="/css/home/login.css">
  <script src="/js/home/login.js" defer></script>
  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="modal">
  <form class="modal-content" id="login-form">
    <div class="closecontainer">
      <span onclick="location.href='/'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <input id="id" type="text" placeholder="아이디" autocomplete="on" required>
      <input id="psword" type="password" placeholder="비밀번호" autocomplete="on" required>
        <div class="msg-holder" id="error-msg-holder">
          <i id="icon" class="fa-solid fa-person-military-pointing"></i>
          <span class="msg" id="error-msg"></span>
        </div>
      <p id="button">로그인</p>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> 아이디를 기억 </input>
      </label> -->
    </div>
    <div class="bottomcontainer" style="background-color:#f1f1f1">
      <span class="membership"><a href="/register">회원가입</a></span>
      <!-- <span class="psw"><a href="#">비밀번호 찾기</a></span> -->
    </div>
  </form>
</div>

</body>
</html>