<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>크린앤Q</title>

  <link rel="stylesheet" href="/css/home/register.css">
  <script src="/js/home/register.js" defer></script>
  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="modal">
  <form action="/registration_process.php" method="post" class="modal-content" id="registration-form" novalidate>
    <div class="closecontainer">
      <span onclick="location.href='/'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <label><b>회원가입</b></label>
      <input id="id" type="text" placeholder="아이디" required>
      <input id="phonenumber" type="text" placeholder="전화번호 ( '-'  없이 입력해주세요 )"  required>
      <input id="psword" type="password" placeholder="비밀번호" required>
      <input id="confirm-psword" type="password" placeholder="비밀번호 확인" required>
        <div class="msg-holder" id="error-msg-holder">
          <i id="icon" class="fa-solid fa-person-military-pointing"></i>
          <span class="msg" id="error-msg"></span>
        </div>
      <p id="button">회원가입</p>
    </div>
    <div class="bottomcontainer" style="background-color:#f1f1f1">
      <span class="membership"><a href="/login">로그인</a></span>
    </div>
  </form>
</div>
</body>
</html>