<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>크린앤Q</title>
  <link rel="stylesheet" href="/css/home/floor/tile/goldclassic.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@80,400,0,0"/>

  <script src="https://kit.fontawesome.com/1a2cc02835.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

</head>

<body>
  <div class="nav-container">
    <nav>
      <ul class="mobile-nav">
        <li>
          <div class="menu-icon-container">
            <div class="menu-icon">
              <span class="line-1"></span>
              <span class="line-2"></span>
            </div>
          </div>
        </li>

        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <!-- <li>
          <a href="#" class="link-search"><i class="fa fa-search"></i></a>
        </li> -->
        <li>
          <a id="user2" class="link-user2"><i class="fa-solid fa-user-circle"></i></a>
        </li>
      </ul>

      <ul class="desktop-nav">
        <li>
          <a href="/" class="link-logo">
            <span class="logochar">Q</span>
          </a>
        </li>
        <li>
          <a href="/hanstone">칸스톤</a>
        </li>
        <li>
          <a href="/homesash">홈샤시</a>
        </li>
        <li>
          <a href="/flooring">바닥재</a>
        </li>
        <li>
          <a href="#">화장실</a>
        </li>
        <li>
          <a class="link-search"><i class="fa fa-search"></i></a>
        </li>
        
        <a id="user" class="link-user"><i class="fa-solid fa-user-circle"></i></a>
        
      </ul>
    </nav>

    <div class="search-container hide">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <div class="link-close">
      </div>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mobile-search-container">
      <div class="link-search"><i class="fa fa-search"></i></div>
      <div class="search-bar">
        <form action="">
          <input type="text" placeholder="칸스톤">
        </form>
      </div>
      <span class="cancel-btn">Cancel</span>

      <div class="quick-links">
        <!-- <h2> Quick Links </h2> -->
        <ul>
          <li>
            <a href="/hanstone">칸스톤</a>
          </li>
          <li>
            <a href="/homesash">홈샤시</a>
          </li>
          <li>
            <a href="/flooring">바닥재</a>
          </li>
          <li>
            <a href="#">화장실</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="overlay"></div>

  <div>
    <ul id="options" style="display:none;">
      {% if user %}
        <br>
        <span id="memb">{{user.id}}</span><span id="hello">님 안녕하세요</span>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
        <li class="option">
          <a href="/logout">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;" data-flip="horizontal"></span>
            <span>로그아웃</span>
          </a>
        </li>
      {% else %}
        <li class="option">
          <a href="/login">
            <span class="iconify" data-icon="fluent:arrow-enter-20-filled" style="font-size: 15px;"></span>
            <span>로그인</span>
          </a>
        </li>
        <li class="option">
          <a href="/profile">
            <span class="iconify" data-icon="material-symbols:manage-accounts-sharp" style="font-size: 15px;"></span>
            <span>계정</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="nav-container2">
    <nav>
      <ul class="sash-nav">
        <li>
          <a href="/maru">마루</a>
        </li>
        <li>
          <a href="/leum">륨시트</a>
        </li>
        <li>
          <a href="/tile">타일</a>
        </li>
        <li>
          <a href="/function">기능성</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nav-container3">
    <nav>
      <ul class="floor-nav">
        <li>
          <a href="/goldclassic">골드타일클래식</a>
        </li>
        <li>
          <a href="/goldclassicchar">특징</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="sec sec7" id="slide-9"></section>

  <section class="sec sec9" id="slide-9">
    <p class="txt13-2"><span class="txt14-span13">현대L&C</span> 골드타일클래식</p>
  </section>

  <section class="sec sec10" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic1"></div>
        <div class="card-txt">
          <p class="txt14">천연소재처럼 실제감 있는 디자인 기술력을 다양한 상업공간별 패턴에 접목시킨 타일 바닥재. 
            표면의 특수코팅 처리로 내오염성, 내마모성이 강하다.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">화이트 마블</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic1"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7507</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">그레이 스톤</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic2"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7495</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic3"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7496</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic4"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7497</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic5"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7498</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">라임 스톤</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic6"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7441</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic7"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7442</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic8"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7451</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic9"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7452</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">콘크리트</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic10"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 9822</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic11"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 9823</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic12"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 9824</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic13"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 9825</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic14"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7401</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic15"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7403</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic16"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7505</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic17"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7506</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic18"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7471</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic19"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7472</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic20"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7473</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic21"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7474</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">스트라이프 카펫</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic22"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-C 7491</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic23"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-C 7492</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic24"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-C 7493</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">보더리스 타일</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic25"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-B 7412</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic26"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-B 7413</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">테라조</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic27"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7406</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic28"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7407</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic29"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7408</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic30"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7409</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">러스틱 스톤</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic31"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 8504</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic32"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 8505</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic33"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 8506</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">슬레이트</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic34"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 9846</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic35"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 9847</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic36"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 9848</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">소프트 카펫</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic37"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-C 9701</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic38"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-C 9709</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic39"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-C 9712</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic40"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-C 9713</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">내츄럴 스톤</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic41"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7481</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic42"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7483</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic43"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7484</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic44"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7461</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic45"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7462</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic46"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-S 7464</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">우븐</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic47"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-F 9826</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic48"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-F 9827</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic49"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-F 9828</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic50"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-F 8509</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic51"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-F 8510</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">파켓</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic52"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-W 9842</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic53"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-W 9843</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic54"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-W 9844</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic55"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-W 9845</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">브러쉬 우드</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic56"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-W 7410</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic57"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">PT-W 7411</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">와이드 우드</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic58"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 9060</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic59"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 9062</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic60"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 9063</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic61"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 9064</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="sec sec11" id="slide-9">
    <p class="txt13-3"><span class="txt13-span4">베이직 우드</span></p>
  </section>

  <section class="sec sec13" id="slide-10">
    <div class="cards">
      <div class="card">
        <div class="card-pic62"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 4901</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic63"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 4902</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic64"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 4974</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic65"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 4975</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic66"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 3521</span></p>
        </div>
      </div>
      <div class="card">
        <div class="card-pic67"></div>
        <div class="card-txt">
          <p class="txt14"><span class="txt14-span2">GWT 3522</span></p>
        </div>
      </div>
    </div>
  </section>


</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EasePack.min.js"></script>
  <script src="/js/home/hanstone.js" defer></script>

</html>